body {color:black; background-color:white; 
      font-family:helvetica,arial,sans-serif;}

p {margin-left:2%;}
pre {margin-left:2%;}

h2 { margin-left:0%; }
h3 { margin-left:1%; }
h4 { margin-left:2%; }

p.noindent { margin-left:0;}

h4.accepted { color:green; }
h4.discussed { color:#FFBB00; }
h4.rejected { color:red; }
